.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 3;

    @media (max-width: $mantine-breakpoint-sm) {
        align-items: flex-end;
        padding-bottom: 20vh;
    }
}

.title {
    color: var(--mantine-color-white);
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 50px;
        line-height: 1.2;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 40px;
        line-height: 1.2;
    }
}

.description {
    color: var(--mantine-color-white);
    max-width: 600px;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
        font-size: var(--mantine-font-size-sm);
    }
}

.control {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}